# Ignorer typer af filer
*.pdf #
*.docx 
*.png
*.jpg
*.jpeg

# Ignorer DS_Store
*.DS_Store

"2. Semester"/"Analog elektronik"/
"2. Semester"/"Elektriske kredsløb"/
"2. Semester"/"Elektroteknologi projekt"/
